<button type="button" class="createUser rounded m-3"  (click)="openComponent()">
  Crear usuario
</button>

<form [formGroup]="createUserForm" class="createUserForm" *ngIf="createUserOpen">
  <div class="modal-header">
    <h5 class="" id="createUserLabel">Crear Usuario</h5>
    <button type="button" class="btn-close" (click)="openComponent()"></button>
  </div>
  <div class="p-2">
    <div class="">
      <label for="userName">Nombre</label>
      <input class="w-100" formControlName="userName" type="text" id="userName" required>
    </div>
    <div>
      <label for="password">Contraseña</label>
      <input class="w-100" formControlName="password" type="text" id="password" required>
    </div>
    <div>
      <label for="rol">Rol</label>
      <input class="w-100" formControlName="rol" type="number" id="rol" min="280" required>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button class="addUser rounded m-2 p-2" type="button">Agregar usuario</button>
  </div>
</form>

