<button type="button" class="createCustomer rounded m-3"  (click)="openComponent()">
  Crear cliente
</button>

<form [formGroup]="createCustomerForm" class="createCustomerForm rounded" *ngIf="createCustomerOpen">
  <div class="modal-header justify-content-center">
    <h5 class="createCustomerForm__title" id="createCustomerLabel">CREAR CLIENTE</h5>
    <button type="button" class="close m-0 p-0" (click)="openComponent()">
      <i class="close__icon fa-regular fa-circle-xmark"></i>
    </button>
  </div>
  <div class="container p-2">
    <div class="mt-2">
      <label for="identificationType">Tipo de identificacion</label>
      <input class="w-100" formControlName="identificationType" type="text" id="identificationType" required>
    </div>
    <div class="mt-2">
      <label for="identificationNumber">Numero de identificacion</label>
      <input class="w-100" formControlName="identificationNumber" type="text" id="identificationNumber" required>
    </div>
    <div class="mt-2">
      <label for="CustomerName">Nombre</label>
      <input class="w-100" formControlName="customerName" type="text" id="CustomerName" required>
    </div>
    <div class="mt-2">
      <label for="contactNumber">Número de contacto</label>
      <input class="w-100" formControlName="contactNumber" type="tel" id="contactNumber" required>
    </div>
    <div class="mt-2">
      <label for="address">Dirección</label>
      <input class="w-100" formControlName="address" type="number" id="address" min="280" required>
    </div>
  </div>
  <div class="text-center my-2">
    <button class="addCustomer rounded m-2 p-2" type="button">Agregar Cliente</button>
  </div>
</form>

