<section>
    <div class="container-fluid">
        <div class="container">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                  <a class="nav-link text-reset" href="#">Transacciones diarias</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-reset" href="#">Libro Mayor</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-reset" href="#">Balance General</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-reset" href="#">Estado de Resultados</a>
                </li>
            </ul>
        </div>
    </div>
</section>