@import '../../../../assets/sass/variables'

thead
  background-color: $black
  color: $blue

.createProduct
  border: none
  background-color: $blue
  width: 200px

  &:hover
    background-color: $hover

.table
  overflow: hidden
  margin-right: 10px

.product
  background-color: $white
  color: $black

  &:hover
    background-color: #f3f6f7

  &__productName
    text-transform: uppercase

.bi-pencil-square,
.bi-trash3-fill
  font-size: 1.5rem
  color: $blue

.paginate
    cursor: pointer
    margin: 5px
    border: none
    background-color: transparent
  
    i
      font-size: 1rem
      color: black
  
    &:disabled
  
      i
        color: $gray-light