<section>
  <div class="contianer-fluid">
    <div class="container">
      <div class="modal-header justify-content-center position-relative">
        <button type="button" class="close border-0 m-0 p-0" [routerLink]="['/ventas']">
          <i class="bi bi-arrow-left"></i>
        </button>
        <h2 class="saleForm__title" id="createSaleLabel">VENTA {{sale.consecutive}}</h2>
      </div>
      <div class="row mx-3">
        <div class="col-lg-6 col-md-12">
          <p>Fecha de venta: {{sale.saleDate | date}}</p>
        </div>
        <div class="col-lg-6 col-md-12">
          <p>Fecha de entrega: {{sale.deliveryDate | date}}</p>
        </div>
        <div class="col-lg-6 col-md-12">
          <p>Número de Documento: {{sale.customer.identificationNumber}}</p>
          <p>Nombre: {{sale.customer.name}} </p>
        </div>
        <div class="col-lg-6 col-md-12">
          <p>Teléfono: {{sale.customer.telephone}}</p>
          <p>Dirección: {{sale.customer.address}}</p>
        </div>
      </div>
      <div class="row mx-1 table-responsive-sm">
        <table class="table rounded">
          <thead>
            <tr>
              <th class="p-2">Producto</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Descuento</th>
              <th>Impuesto</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let saleDetail of sale.saleDetails">
              <td>{{saleDetail.product.name}} {{saleDetail.product.description}}</td>
              <td>{{saleDetail.quantity}}</td>
              <td class="text-nowrap">$ {{saleDetail.amount | number}}</td>
              <td>{{saleDetail.discount ? saleDetail.discount : 0}}</td>
              <td>{{saleDetail.tax ? saleDetail.tax : 0}}</td>
              <td class="text-nowrap">$ {{saleDetail.quantity * saleDetail.amount | number}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row justify-content-end">
        <div class="col-2">
          <h1>$ {{sale.totalAmount | number}}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
