<div class="d-flex justify-content-around align-items-center">
  <app-searchbar (searchTextChanged)="searchText($event)" class="col-lg-6 col-md-7"></app-searchbar>
    <button type="button" class="createSale rounded m-3" routerLink="crear">
      Crear venta
    </button>
</div>
<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table rounded mt-1">
          <thead>
            <tr>
              <th scope="col">FECHA VENTA</th>
              <th scope="col">CONSECUTIVO</th>
              <th scope="col">IDENTIFICACIÓN</th>
              <th scope="col">CLIENTE</th>
              <th scope="col">FECHA ENTREGA</th>
              <th scope="col">VALOR TOTAL</th>
              <th scope="col">ESTADO</th>
              <th class="text-center" scope="col">DETALLE</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sale of sales">
              <td class="sale__saleDate ms-2">{{sale.saleDate | date: 'dd.MM.yyyy'}}</td>
              <td class="sale__consecutive ms-2">{{sale.consecutive}}</td>
              <td>{{sale.customer.identificationNumber}}</td>
              <td class="ps-2">{{sale.customer.name}}</td>
              <td class="sale__deliveryDate ms-2">{{sale.deliveryDate | date: 'dd.MM.yyyy'}}</td>
              <td class="sale__totalAmount ms-2">$ {{sale.totalAmount | number}}</td>
              <td class="sale__orderStatus ms-2">{{sale.saleStatus.status}}</td>
              <td class="text-center">
                <button class="btn-actions ps-0" routerLink="detalle/{{sale.id}}">
                  <i class="bi bi-eye"></i>
                </button>
              </td>
              <td>
                <button class="btn-actions" routerLink="registrar-pago/{{sale.id}}">
                  <img class="btn-actions__icons" src="../assets/general/invoice.svg" alt="invoice">
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

