<section>
  <div class="container">
    <div class="col-lg-12 col-md-12 d-flex justify-content-around align-items-center">
      <app-searchbar (searchTextChanged)="searchText($event)" class="col-lg-6 col-md-7"></app-searchbar>
        <button class="col-lg-4" type="button" class="createSale rounded m-3" routerLink="crear">
          Crear venta
        </button>
    </div>
    <div class="row">
      <div class="col">
        <table class="table rounded mt-1">
          <thead>
            <tr>
              <th scope="col">FECHA VENTA</th>
              <th scope="col">CONSECUTIVO</th>
              <th scope="col">IDENTIFICACIÓN</th>
              <th scope="col">CLIENTE</th>
              <th scope="col">FECHA ENTREGA</th>
              <th scope="col">VALOR TOTAL</th>
              <th scope="col">ESTADO</th>
              <th class="text-center" scope="col">DETALLE</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sale of sales">
              <td class="ms-2">{{sale.saleDate | date: 'dd.MM.yyyy'}}</td>
              <td class="ms-2">{{sale.consecutive}}</td>
              <td>{{sale.customer.identificationNumber}}</td>
              <td class="ps-2">{{sale.customer.name}}</td>
              <td class="ms-2">{{sale.deliveryDate | date: 'dd.MM.yyyy'}}</td>
              <td class="ms-2">$ {{sale.totalAmount | number}}</td>
              <td class="ms-2">
                <div *ngIf="!sale.edit" class="d-flex justify-content-between">
                  <span class="orderStatus--{{sale.saleStatus.status}} px-2 py-1 rounded">{{sale.saleStatus.status}}</span>
                  <a *ngIf="sale.saleStatus.id != 3" data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar estado" (click)="changeSaleStatus(sale)">
                    <img class="btn-actions__changeStatus" src="../../../../assets/general/change-status.svg" alt="">
                  </a>  
                </div>
                <div *ngIf="sale.edit" class="d-flex justify-content-between">
                  <select name="status" id="status" [(ngModel)]="sale.saleStatus.id">
                    <option *ngFor="let item of saleStatus | keyvalue" [value]="item.value">{{item.key}}</option>
                  </select>
                  <a data-bs-toggle="tooltip" data-bs-placement="top" title="Confirmar" (click)="confirmChangeStatus(sale)">
                    <img class="btn-actions__changeStatus" src="../../../../assets/general/circle-check-solid.svg" alt="">
                  </a>
                  <a data-bs-toggle="tooltip" data-bs-placement="top" title="Cancelar" (click)="cancelChangeStatus(sale)">
                    <img class="btn-actions__changeStatus" src="../../../../assets/general/circle-xmark-solid.svg" alt="">
                  </a>
                </div>   
              </td>
              <td class="text-center">
                <button class="btn-actions ps-0" routerLink="detalle/{{sale.id}}">
                  <i class="bi bi-eye"></i>
                </button>
              </td>
              <td>
                <button class="btn-actions" routerLink="registrar-pago/{{sale.id}}">
                  <img class="btn-actions__icons" src="../assets/general/invoice.svg" alt="invoice">
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<app-error-message *ngIf="showErrorMessage" [message]="'Debes decidir el estado de la venta que estás actualizando'" (closeInformation)="closeErrorMessage($event)"></app-error-message>
<app-information *ngIf="showInformation" [message]="'La venta se actualizó con éxito'" (closeInformation)="closeInformation($event)"></app-information>

