@import '../../../../assets/sass/variables'

thead
  background-color: $black
  color: $blue

.createSale
  border: none
  background-color: $blue
  width: 200px

  &:hover
    background-color: $hover

.table
  overflow: hidden

.btn-actions
  right: 3%
  top: 30%
  border: none
  border-radius: 30px
  background-color: transparent

  &__icons
    width: 30px
    height: 30px
