<section class="modal-shadow d-flex justify-content-center align-items-center">
  <div class="modal-container ">
    <div class="container-fluid">
      <div class="customerForm m-4 rounded-1">
        <form *ngIf="!customerCreated" [formGroup]="customerForm" (ngSubmit)="saveForm()">
          <div class="modal-header justify-content-center">
            <h5 class="customerForm__title text-center" id="createCustomerLabel">CREAR CLIENTE</h5>
            <button type="button" class="close m-0 p-0 border-0" (click)="closeModal()">
              <i class="close__icon fa-regular fa-circle-xmark"></i>
            </button>
          </div>
          <div class="container p-2">
            <div class="mt-2">
              <select class="w-100" formControlName="identificationTypeId" type="text" id="identificationTypeId">
                <option [value]="''" hidden>Selecciona un tipo de documento</option>
                <option [value]="item.id" *ngFor="let item of identificationTypes">{{item.name}}</option>
              </select>
            </div>
            <div class="mt-2">
              <input class="w-100" formControlName="identificationNumber" placeholder="Número de documento" type="text" id="identificationNumber">
            </div>
            <div class="mt-2">
              <input class="w-100" formControlName="name" type="text" id="name" placeholder="Nombre del cliente">
            </div>
            <div class="mt-2">
              <input class="w-100" formControlName="telephone" type="tel" id="contactNumber" placeholder="Número de teléfono">
            </div>
            <div class="mt-2">
              <input class="w-100" formControlName="address" type="text" id="address" placeholder="Dirección">
            </div>
            <div class="mt-2">
              <input class="w-100" formControlName="email" type="text" id="email" placeholder="Correo electrónico">
            </div>
          </div>
          <div class="text-center">
            <button class="addCustomer rounded m-2 p-2" type="submit" [disabled]="customerForm.invalid">Agregar Cliente</button>
          </div>
        </form>
        <div *ngIf="customerCreated">
          <div class="m-5 text-center">
            <i class="bi bi-cart-check-fill"></i>
            <p>{{message}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
