<div class="container-fluid">
  <div class="container">
    <div class="createProductForm rounded m-5">
      <form [formGroup]="productForm"  (ngSubmit)="saveForm()" *ngIf="!productCreated">
        <div class="modal-header justify-content-center">
          <h5 class="createProductForm__title" id="createProductLabel">{{ productId ? 'EDITAR': 'CREAR'}} PRODUCTO</h5>
          <button type="button" class="close m-0 p-0 border-0" [routerLink]="['/productos']">
            <i class="close__icon fa-regular fa-circle-xmark"></i>
          </button>
        </div>
        <div class="container">
          <div class="p-2">
            <div class="mt-2">
              <label for="productName">Nombre</label>
              <input class="w-100" formControlName="productName" type="text" id="productName" required>
            </div>
            <div class="mt-2">
              <label for="description">Descripcion</label>
              <input class="w-100" formControlName="description" type="text" id="description" required>
            </div>
            <div class="mt-2">
              <label for="unitCost">Costo</label>
              <input class="w-100" formControlName="unitCost" type="number" id="unitCost" min="280" required>
            </div>
            <div class="mt-2">
              <label for="price">Precio</label>
              <input class="w-100" formControlName="price" type="number" id="price" min="280" required>
            </div>
          </div>
          <div class="text-center my-2">
            <button class="addProduct rounded m-2 p-2" type="submit" [disabled]="productForm.invalid">
              {{ productId ? 'Editar': 'Agregar'}}  producto</button>
          </div>
        </div>
      </form>
      <div *ngIf="productCreated">
        <div class="m-5 text-center">
          <p class="m-5">{{message}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
