<nav class="navbar navbar-expand p-0">
  <div class="container-fluid px-1">
    <a class="navbar-brand p-0" href="#">
      <img src="../../../assets/imagesCR/LogoHorizontal.png" alt="Colchones de Reyes" width="350" height="70" class="" [routerLink]="''">
    </a>

    <div class="dropdown m-1">
      <a class="nav-link dropdown-toggle rounded" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
        username
        <i class="userIcon fa-solid fa-user px-1"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="dropdownMenu">
        <li><a class="dropdown-item" [routerLink]="">Perfil</a></li>
        <li><a class="dropdown-item" [routerLink]="">Configuración</a></li>
        <li class="dropdown-divider bg-light"></li>
        <li><a class="dropdown-item" [routerLink]="['/iniciar-sesion']">Salir</a></li>
      </ul>
    </div>

  </div>
</nav>

