@import '../../../../assets/sass/variables'
@import '../../../../assets/fonts/font'

input
  min-height: 38px

.date[type="date"]::-webkit-calendar-picker-indicator
  cursor: pointer

.front
  z-index: 1

.createSale
  width: 100%
  transition: 280ms ease-out

  &.active
    with: 60%

.orderPanel
  width: 80%
  height: 90vh
  transition: 280ms ease-out

  &.active
    width: 0%

.createCustomer
  border: none
  background-color: $blue

  &:hover
    background-color: #97d3fb

.list-group-item
  cursor: pointer

  &:hover
    background: $hover

thead
  background-color: $black
  color: $blue

.table
  overflow: hidden
  margin-right: 10px

.product
  background-color: $white
  color: $black

  &:hover
    background-color: #f3f6f7

  &__productName
    text-transform: uppercase

  &__btn-action
    background-color: transparent
    border: none
    width: 30px

    img
      width: 30px
      height: 30px
      color: $blue

    &:hover
      transform: scale(1.1)

.result
  color: $white

.close
  background-color: transparent
  position: absolute
  left: 5%
