 <section class="container-fluid d-flex">
    <div class="createSale" [ngClass]="{'active': productAdded}">
      <div class="sale p-2">
        <form [formGroup]="saleForm" class="createSaleForm rounded">
          <div class="modal-header justify-content-center position-relative">
            <button type="button" class="close border-0 m-0 p-0" [routerLink]="['/ventas']">
              <i class="bi bi-arrow-left"></i>
            </button>
            <h2 class="saleForm__title" id="createSaleLabel">CREAR VENTA</h2>
          </div>
          <div class="row mt-2 align-items-end">
            <div class="col-lg-4 col-md-4">
              <label for="customerName">Numero de identificación</label>
              <input class="form-control" type="text" [autocomplete]="false" [formControl]="identificationNumber" (focus)="showIdentificationNumbers()">
              <ul class="list-group position-absolute front" *ngIf="enableIdentificationNumber">
                <li class="list-group-item" *ngFor="let customer of customers | searchCustomer : identificationNumber.value : setUppercase(customerName.value)" (click)="setCustomer(customer)">{{customer.identificationNumber}}</li>
              </ul>
            </div>
            <div class="col-lg-5 col-md-4">
              <label for="customerName">Nombre del cliente</label>
              <input class="form-control" type="text" [autocomplete]="false"  [formControl]="customerName" (focus)="showNames()">
              <ul class="list-group position-absolute front" *ngIf="enableCustomerName">
                <li class="list-group-item" *ngFor="let customer of customers | searchCustomer : identificationNumber.value : setUppercase(customerName.value)" (click)="setCustomer(customer)">{{customer.name}}</li>
              </ul>
            </div>
              <div class="col-lg-3 col-md-4">
                <div class="w-100">
                  <button class="createCustomer rounded py-1 px-3" (click)="createCustomerModal()">
                    <h5>Crear cliente</h5>
                  </button>
                </div>
              </div>
            </div>
            <div *ngIf="createCustomer">
              <app-create-customer (closeCustomerModal)="closeModal($event)"></app-create-customer>
            </div>
            <div class="row align-items-end my-2">
              <div class="col-lg-4 col-md-12">
                <label for="deliveryDate">Fecha de entrega</label>
                <input class="form-control" formControlName="deliveryDate" type="date" id="deliveryDate" required>
              </div> 
              <div class="col-lg-6 d-flex">
                <input class="mx-2" formControlName="isCredit" type="checkbox" id="isCredit">
                <label for="deliveryDate">Venta a crédito</label>
              </div> 
            </div>
        </form>
        <div *ngIf="productAdded">
          <table class="table rounded mt-4">
            <thead>
              <tr>
                <th>NOMBRE</th>
                <th></th>
                <th>CANTIDAD</th>
                <th>PRECIO</th>
                <th>IMPUESTO</th>
                <th>TOTAL</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="product" *ngFor="let item of shoppingCart">
                <td class="product__productName text-nowrap">{{item.productName}}</td>
                <td class="text-nowrap">{{item.productDescription}}</td>
                <td><input class="input input--short" type="number" min="0" [(ngModel)]="item.quantity" (change)="changes()"></td>
                <td><input class="input text-right" type="text" [(ngModel)]="item.amount" (change)="changes()"></td>
                <td><input class="input" type="text" [(ngModel)]="item.tax" (change)="changes()"></td>
                <td class="mx-2">{{item.quantity*item.amount | number}}</td>
                <td>
                  <button class="product__btn-action" (click)="removeFromCart(item.productId)">
                    <img src="../../../../assets/general/minus.svg" alt="">
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
            <div class="ps-2" *ngIf="shoppingCart.length == 0">
              No has elegido ningún producto
              <hr>
            </div>
            <div class="d-flex justify-content-between ps-2">
              <h4>Cantidad de productos</h4>
              <p>{{totalQuantity}}</p>
            </div>
            <div class="d-flex justify-content-between ps-2">
              <h4>Total</h4>
              <p >${{totalSale | number}}</p>
            </div>
            <div class="text-center m-4">
              <button class="addSale rounded m-2 p-2" type="button" (click)="saveSaleInformation()" [disabled]="saleForm.invalid || shoppingCart.length == 0">Guardar Pedido</button>
            </div>
          </div>
        </div>
        <div class="m-3" *ngIf="!productAdded">
          <hr>
          <a class="addProducts d-flex align-items-center text-decoration-none text-dark" (click)="productAdded = true">
            <i class="bi bi-plus-circle-fill icon"></i>
            <span class="px-2">Agregar productos</span>
          </a>
        </div>
    </div>
    <div  class="orderPanel bg-dark text-light p-3 rounded-2" [ngClass]="{'active': !productAdded}">
      <app-order-panel></app-order-panel>
    </div>
  </section>
  <app-information *ngIf="showInformation" [message]="'La venta se ha creado con éxito'" (closeInformation)="closeInformation($event)"></app-information>
