<button type="button" class="createSale rounded m-3"  (click)="openComponent()">
  Crear pedido
</button>

<form [formGroup]="createSaleForm" class="createSaleForm rounded" *ngIf="createSaleOpen">
  <div class="modal-header justify-content-center">
    <h5 class="createSaleForm__title" id="createSaleLabel">CREAR PEDIDO</h5>
    <button type="button" class="close m-0 p-0" (click)="openComponent()">
      <i class="close__icon fa-regular fa-circle-xmark"></i>
    </button>
  </div>
  <div class="container p-2">
    <div class="mt-2">
      <label for="customerName">Cliente</label>
      <input class="w-100" formControlName="customerName" type="text" id="customerName" required>
    </div>
    <div class="mt-2">
      <label for="deliveryDate">Fecha de entrega</label>
      <input class="w-100" formControlName="deliveryDate" type="date" id="deliveryDate" required>
    </div>
    <div class="my-4">
      <app-searchbar></app-searchbar>
    </div>
    <div>
      <section>
        <div class="row">
          <div class="col">
            <table class="table rounded mt-2">
              <thead>
                <tr>
                  <th scope="col">PRODUCTO</th>
                  <th scope="col">DESCRIPCIÓN</th>
                  <th scope="col">PRECIO</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products; index as i" class="product">
                  <td class="product__productName ms-2">{{product.productName}}</td>
                  <td class="product__productDescription ms-2">{{product.description}}</td>
                  <td class="product__productPrice ms-2">{{product.price}}</td>
                  <td>
                    <input type="checkbox">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
    <div>
      <label for="totalAmount">Total</label>
      <input class="w-100" formControlName="totalAmount" type="number" id="totalAmount" required>
    </div>
  </div>
  <div class="text-center">
    <button class="addSale rounded m-2 p-2" type="button">Agregar Pedido</button>
  </div>
</form>
