
<div class="d-flex justify-content-around align-items-center">
  <app-searchbar></app-searchbar>
  <app-create-customer></app-create-customer>
</div>
<section>
  <div class="row">
    <div class="col">
      <table class="table rounded mt-1">
        <thead>
          <tr>
            <th scope="col">IDENTIFICACION</th>
            <th scope="col">CLIENTE</th>
            <th scope="col">CONTACTO</th>
            <th scope="col">DIRECCION</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr class="customer">
            <td class="customer__customerName ms-2">10000000</td>
            <td class="customer__customerDescription ms-2">Mateo Ortiz Vargas</td>
            <td class="customer__customerCost ms-2">3052587069</td>
            <td class="customer__customerPrice ms-2">Transv 34 DD</td>
            <td>
              <button class="btn-actions ps-0" >
                <img class="btn-actions__icons" src="../assets/general/edit.svg" alt="">
              </button>
              <button class="btn-actions">
                <img class="btn-actions__icons" src="../assets/general/history.svg" alt="">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
