@import '../../../assets/sass/variables.sass'
@import '../../../assets/fonts/font.sass'

.orders
    display: flex
    flex-direction: column
    box-shadow: 0 0 5px 1px $boxShadow

    &-item
        width: 100%
        border: 1px solid $boxShadow
        cursor: pointer

        &:hover
            box-shadow: 0 0 5px 1px $blue

        &__date
            background-color: $blue
            border-radius: 30px

    .btn-actions
        border: none
        border-radius: 30px
        background-color: transparent

        &__icons
            width: 40px
            height: 40px

.btn
  border: none
  background-color: $blue
  width: 200px

  &:hover
    background-color: $hover

@media screen and (min-width: 800px)
  .orders
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 10px

@media screen and (min-width: 1300px)
  .orders
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 10px
