<!-- <p>Crear pedido | uppercase</p>
<p>Hoy: {{today | date: 'short'}}</p>
<p>Otra Fecha: {{date | date: 'yyyy.dd.MM'}}</p> -->
<div class="d-flex justify-content-around align-items-center">
  <app-searchbar></app-searchbar>
  <app-create-sale></app-create-sale>
</div>
<section>
  <div class="row">
    <div class="col">
      <table class="table rounded mt-1">
        <thead>
          <tr>
            <th scope="col">ID PEDIDO</th>
            <th scope="col">CLIENTE</th>
            <th scope="col">PRODUCTOS</th>
            <th scope="col">FECHA ENTREGA</th>
            <th scope="col">MÉTODO DE PAGO</th>
            <th scope="col">VALOR TOTAL</th>
            <th scope="col">ESTADO</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of sales">
            <td class="sale__saleId ms-2">{{sale.orderId}}</td>
            <td class="sale__customerName ms-2">{{sale.customer.customerName}}</td>
            <td class="sale__products ms-2">
              <tr *ngFor="let product of sale.productList">
                <td class="pe-2">{{product.quantity}}</td>
                <td class="pe-2">{{product.productName}}</td>
                <td>{{product.price | currency: 'COP'}}</td>
              </tr>
            </td>
            <td class="sale__deliveryDate ms-2">{{sale.deliveryDate}}</td>
            <td class="sale__paymentMethod ms-2">{{sale.paymentMethod}}</td>
            <td class="sale__paymentMethod ms-2">{{sale.totalAmount}}</td>
            <td class="sale__orderStatus ms-2">{{sale.orderStatus}}</td>
            <td>
              <button class="btn-actions ps-0" >
                <img class="btn-actions__icons" src="../assets/general/edit.svg" alt="">
              </button>
              <button class="btn-actions">
                <img class="btn-actions__icons" src="../assets/general/invoice.svg" alt="">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
